@(contributionEvent: ContributionEvent)

<div>@{ import models.ContributionEvent._
    contributionEvent.contributionEventType match {
        case ContributionEventType.CONTRIBUTION_GENERATED => "Generated"
        case ContributionEventType.CONTRIBUTION_MODIFIED => "Modified"
        case ContributionEventType.MENTOR_NOTIFICATION_REQUEST => "Mentor Notified"
        case ContributionEventType.MENTOR_NOTIFIED => "Mentor Notified"
        case ContributionEventType.WEBREV_GENERATED => "Webrev Generated"
        case ContributionEventType.APPROVED => "Approved"
        case ContributionEventType.MERGED => "Merged"
        case ContributionEventType.REJECTED => "Rejected"
        case ContributionEventType.TERMINATED => "Terminated"
    }
    }
</div>
<div>@(utils.DateTimePattern.format(contributionEvent.createdDate))</div>
<a href="@contributionEvent.linkToExternalInfo"
   target="_blank">@contributionEvent.linkToExternalInfo</a>